{% extends 'products/base.html' %}
{% block content %}
    <h1>About us</h1>
    <p>e-Agriculture is an online platform that helps the customer to gain required information about the seeds
        and fertilizers. e-Agriculture offers unique solutions for every person with beautiful plants, pots, and decorations to create your green patch. By creating an online platform for buying and selling of agriculture-based products, the
        time required by any of the customers/buyers can be minimized by quite a good number of time. This
        website majorly focuses on the seeds as well as the fertilizers that suits perfectly for those seeds. It is a
        known fact that there are hundreds of different types of vegetables and theirs seeds as well. We provide you varieties of vegetable seeds and fertilizers to the customers at a reasonable price and at their doorsteps.</p>
{% endblock %}