{% extends 'products/base1.html' %}

{% block content %}
    {% for product in products %}
    
    <div class="col-md-3 mt-3 ml-5" style="float:left;">
          
            <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
            <div class="card-body">
                <a href="{% url 'detail' product.id %}"><h5 class="card-title">{{ product.title }}</h5></a>
                <p>{{ product.author }}</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/product_view/{{product.id}}/" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
            
            
        </div>    
    
    {% endfor %}
{% endblock %}