{% extends 'products/base.html' %}

{% block content %}
    
    <div class="col-md-3 mt-3 ml-4" style="float:left;">
          
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ object.image.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p>{{ object.author }}</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
                {% if object.author == user %}
                    <a href="{% url 'update' object.id %}" class="btn btn-secondary btn-sm">Update</a>
                    <a href="{% url 'delete' object.id %}" class="btn btn-secondary btn-sm">Delete</a>

                {% endif %}
            </div>
            </div>
            
            
    </div>    
    
{% endblock %}